@import url('https://fonts.cdnfonts.com/css/old-london');
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');
body{
    background-color: black;
}
.pagina{
    background-image: url(img/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 43%;
    height: 110%;
}
.titulogrande{
    text-align: center;
    padding-top: 26px;
}
    

.extra{
    font-family: 'Old London', sans-serif;
    font-size: 90px;
    padding-top: -30%;
    position: relative;
    margin-top: -1%;
    
    
}
.horizontal{
    margin-top: -6%;
}
.horno{
    font-family: 'Old London', sans-serif;
    font-size: 40px;
    padding-top: -30%;
    position: relative;
    margin-top: 0%;
    
}
.abajo{
    margin-top: -3%;

}
.texto1{
    font-size:70%;
    position: relative;
    left: 8%;
    text-align-last: justify;
    width:285px;
    
}
#cocinando{
    position: absolute;
    top:215px;
    right: 95px;
    width: 330px;

}

.texto2{
    font-size:70%;
    position: relative;
    left: 8%;
    text-align-last: justify;
    width:285px;
    top:-95px
    
}

#vieja{
    position:absolute;
    left: 290px;
    width:10%;
    top:545px
}
.sueño{
    position: relative;
    left: 8%;
    font-family: 'Old London', sans-serif;
    font-size: x-large;
    top:-90px


}
.titulo2{
    font-size: 200%;
    top: -10px;
    position: relative ;
    left: 80px;
}
.eventos{
    font-family: 'Seaweed Script', cursive;
    font-size: 320%;
    top: -50px;
    position: relative ;
    left: 120px;
   

}
#señor{
    position:absolute;
    left: 276px;
    top:798px;
    width: 168px;
}
.olivo{
    font-size: 70%;
    position: relative;
    left:8%;
    text-align-last: justify;
    width:190px;
    top:-90px
}
.derecha{
    position: absolute;
    right: 9%;
    top: 42%;
    
    
}
.dulce{
    font-family: 'Old London', sans-serif;
    font-size: xx-large;
}
#niños{
    position: absolute;
    right: 15%;
    top: 100%;
}
.texto4{
    position: absolute;
    right: 1%;
    top: 230%;
    font-size:70%;
    text-align-last: justify;
    width:290px;
    
}
.pie{
    position: absolute;
    text-align: center;
    border-top: 2px solid;
    margin-top: 20px;
    border-bottom: 2px solid;
    width: 700px;
    left: 60px;
    padding-top: 2%;
    padding-bottom: 2%;
    top:88%;
    font-size: 35px;
}
#linea{
    position: absolute;
    width: 2px;
    height: 42%;
    top:48%;
    right: 380px;
}
#pastel{
    position: absolute;
    bottom: 3%;
    left: 8%;
}
#revanada{
    position: absolute;
    bottom: 4.5%;
    right: 8%;
}